@use "./base" as *;
@use "./mixins" as *;

.social {
  // header block
  &__functionality-box {
  }

  &__title-wrapper {
  }

  &__title {
    font-size: 8rem;
  }

  &__subtitle {
  }

  &__toggle-wrapper {
  }

  &__mode {
  }

  &__label {
    position: relative;
    display: inline-block;
    width: 12rem;
    height: 6rem;
  }

  &__span {
    position: absolute;
    cursor: pointer;
    inset: 0;
    transition: 0.3s;
    border-radius: 4rem;

    &::before {
      position: absolute;
      content: "";
      height: 5rem;
      width: 5rem;
      left: 0.5rem;
      bottom: 0.5rem;
      transition: 0.3s;
      border-radius: 5rem;
    }

    &.switch__active {
      &::before {
        transform: translateX(6rem);
      }
    }
  }

  &__label input {
    display: none;
  }

  &__grid-box {
  }

  &__card {
    &--daily {
    }
  }

  &__nick-wrapper {
  }

  &__icon {
    &--daily {
    }
  }

  &__nickname {
  }

  &__quantity {
    &--daily {
    }
  }

  &__followers {
  }

  &__percent {
    &--green {
    }
    &--red {
    }
  }

  &__views-wrapper {
  }

  &__views {
  }
}

.light__mode {
  @include lightMode;
}

.dark__mode {
  @include darkMode;
}
